<%- partial(theme.header && theme.header.partial || '_ksio/partials/header') %>
<% const utm_flag = '?utm_source=ntks.ourai.ws&utm_medium=homepage' %>
<% const site_banner = url_for('images/local/banners/anti-chaos.jpg') %>
<main class="Page-content">
  <header class="Homepage-header" style="background-image: url('<%= site_banner %>');">
    <div>
      <h1 class="Homepage-title">Anti-chaos</h1>
      <p class="Homepage-slogan">让前端开发更加有序，<br>让业务开发专注业务。</p>
    </div>
    <figure class="sr-only">
      <img src="<%= site_banner %>" alt="Anti-chaos">
      <figcaption>Anti-chaos</figcaption>
    </figure>
  </header>
  <div class="container">
    <article class="Page-main Article">
      <div class="Article-content">
        <section class="Section--hello">
          <p>「反混沌」是——思想、计划、体系、组织、社区。</p>
        </section>
        <section>
          <h2>能力建设</h2>
          <p>为个人与团队的能力提升助力——</p>
          <div class="Grid Grid--twoCols is-active">
            <% site.data['local/manuals'].forEach(item => { %>
              <div class="Grid-item">
                <%- partial('_local/components/card', { title: item.title, description: item.description, banner: url_for(`images/local/banners/${item.banner}`), url: item.url.startsWith('http') ? `${item.url}${utm_flag}` : item.url }) %>
              </div>
            <% }) %>
          </div>
        </section>
        <section>
          <h2>强力工具</h2>
          <p>面向未来的、专为解决复杂前端应用而生的跨 JS-based 技术栈解决方案——</p>
          <div class="Grid Grid--twoCols is-active">
            <% site.data['local/tools'].forEach(item => { %>
              <div class="Grid-item">
                <%- partial('_local/components/card', { title: item.title, description: item.description, banner: url_for(`images/local/banners/${item.banner}`), url: item.url.startsWith('http') ? `${item.url}${utm_flag}` : item.url }) %>
              </div>
            <% }) %>
          </div>
        </section>
        <section>
          <h2>推荐阅读</h2>
          <p>符合「<a href="/guides/">反混沌</a>」理念的文章——</p>
          <% const dailyMap = site.data['local/dailies'].items %>
          <% const authorMap = site.data['local/people'].items %>
          <% const dailies = Object.values(dailyMap) %>
          <% const total_count = dailies.length %>
          <div class="Grid is-active">
            <% dailies.slice().reverse().slice(0, 6).forEach((daily, index) => { %>
              <% const author = authorMap[daily.origin.author] %>
              <% const show_more = index === 5 %>
              <div class="Grid-item<% if (show_more) { %> is-more<% } %>">
                <div class="Card EntryCard">
                  <a class="Card-link EntryCard-link" <% if (show_more) { %>href="/posts/"<% } else { %>href="<%= daily.origin.url %><%= utm_flag %>" title="阅读《<%= daily.title %>》" target="_blank" rel="external nofollow"<% } %>>
                    <div class="EntryCard-header" style="background-image: url('<%= site_banner %>');">
                      <div class="EntryCard-brief">
                        <h3 class="EntryCard-name" data-toc-skip="true"><%= daily.title %></h3>
                      </div>
                    </div>
                    <div class="EntryCard-body">
                      <div class="EntryCard-description"><%= escape_html(trim(strip_html(markdown(daily.description)))) %></div>
                    </div>
                    <% if (show_more) { %><div class="EntryCard-overlay"><span>+<%= total_count - 5 %> 篇</span></div><% } %>
                  </a>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
      </div>
    </article>
  </div>
</main>
<%- partial(theme.footer && theme.footer.partial || '_ksio/partials/footer') %>
